body{
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, #80348F, #A73399, #CD338C);
    display: flex;
    justify-content: center;
}

.container {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    border-radius: 25px;
    height: 200px;
    min-height: 100px;
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #D1008C;
    border: none;
    outline: none;
    color: white;
    padding: 15px 32px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: #4F003D;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

input[type=text] {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    border: none;
    color: #26001F;
    outline: none;
    padding: 15px 32px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
}

input[type=text]:focus {
    background-color: #26001F;
    color: white;
}

::placeholder {
    color: #26001F;
}