<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='editPage.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Delete {{restaurant.name}}?</h1>
            <form action="{{ url_for('deleteRestaurant', restaurant_id=restaurant_id) }}" method = 'POST'>
                <input type='submit', value = 'Delete', class='button'>
                <a href = "{{ url_for('mainRestaurants') }}", class='button'> Cancel </a>
            </form>
        </div>
    </body>
</html>