<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='editPage.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Register a new restaurant</h1>
            <form action="{{ url_for('newRestaurant') }}" method = 'POST'>
                <input name='name' type='text' placeholder="Restaurant name">
                <input type='submit' value='Register' class='button'>
                <a href = "{{ url_for('mainRestaurants') }}", class='button'>Cancel</a>
            </form>
        </div>
    </body>
</html>